.projectCard{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    color: var(--bg-1);
    border-radius: 15px;
    background: linear-gradient(130deg, var(--blue-gray-1), var(--blue-gray-2));
    box-shadow:  5px 5px 10px #cacaca,
             -5px -5px 10px #f6f6f6;
}
.projectCard:hover{
    background: linear-gradient(145deg, var(--blue-gray-2), var(--blue-gray-1));
    box-shadow:  5px 5px 10px #f6f6f6,
             -5px -5px 10px #cacaca;
}
.projectCard img{
    width: 100%;
    height: 50%;
    margin-bottom: 15px;
}
.projectCard h4, p{
    margin-left: 10px;
}
.projectCard h4 a{
    color: var(--blue-gray-3);
    text-decoration: none;
}
.projectCard p{
    color: var(--bg-1);
    margin-top: 10px;
    font-size: 1rem;
}
@media screen and (max-width: 520px) {
    .projectCard{
        width: 180px;
        height: auto;
        padding: 10px;
        margin: 5px;
        border-radius: 15px;
    }
    .projectCard img{
        margin-bottom: 5px;
    }
    .projectCard h4, p{
        margin-left: 5px;
    }
    .projectCard p{
        font-size: 0.75rem;
    }

}